<% provide(:title, 'Bookings') %>

<script type='text/javascript'>


    $(document).ready(function() {   

        monthsList('#months-list');
     
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'today',
                center: 'title',
                right: 'prevYear,prev next,nextYear'
            },
            selectable: true,
            selectHelper: true,
            dayClick: function(start, end, allDay) {
                var startAsString = getDayName(start)+" "+start.getDate()+" "+getMonthName(start)+" "+start.getFullYear()
                location.href = "<%=new_booking_path%>?start="+startAsString             
             },
            editable: true,
            disableDragging: false,
            events: [
                <% @bookings.each do |booking| %>
                    {
                    title: '<%= booking.name %>',
                    start: new Date('<%= booking.start %>'),
                    end:   new Date('<%= booking.end %>'),
                    url:   '<%= edit_or_delete_booking_path :id => booking.id%>' 
                    },
                <% end %>
            ],
         });    

        <% if (@booking != nil) %>
        $('#calendar').fullCalendar('gotoDate', <%=@booking.start.year%>, <%=@booking.start.month-1%>);
        <%end%>

        $(document).on('click', '#months-list a', function() {
            // get month from month anchor hash
            var month = this.hash.substring(1);
            // go to new month
            $('#calendar').fullCalendar('gotoDate', goToMonth(month));
            return false;
        });

        function goToMonth(month) {
            var date = new Date();
            var d = date.getDate();
            var m = month !== undefined ? parseInt(month, 0) : date.getMonth();
            var y = $('#calendar').fullCalendar('getDate').getFullYear();
            return new Date(y, m, d);
        }

        function monthsList(element) {
            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            for (var m = 0; m < monthNames.length; m++) {
                $(element).append('<li><a href="#' + m + '">' + monthNames[m] + '</a></li>');
             }
        }
    });

    function getDayName(date){
        var day_names = new Array ( );
        day_names[day_names.length] = "Sunday";
        day_names[day_names.length] = "Monday";
        day_names[day_names.length] = "Tuesday";
        day_names[day_names.length] = "Wednesday";
        day_names[day_names.length] = "Thursday";
        day_names[day_names.length] = "Friday";
        day_names[day_names.length] = "Saturday";
        return day_names[date.getDay()]
    } 

    function getMonthName(date) {
        var month_names = new Array ( );
        month_names[month_names.length] = "January";
        month_names[month_names.length] = "February";
        month_names[month_names.length] = "March";
        month_names[month_names.length] = "April";
        month_names[month_names.length] = "May";
        month_names[month_names.length] = "June";
        month_names[month_names.length] = "July";
        month_names[month_names.length] = "August";
        month_names[month_names.length] = "September";
        month_names[month_names.length] = "October";
        month_names[month_names.length] = "November";
        month_names[month_names.length] = "December";
        return month_names[date.getMonth()]
    }
 
</script>
<style type='text/css'>

    body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

    #calendar {
        width: 600px;
        margin: 0 auto;
        }
            #months-list {
                margin: 20px
            }
            #months-list li {
                display: inline;
                list-style: none;
                padding: 5px;
                background: #333;
            }

            li a {
                color: #fff;
                padding: 10px;
                text-decoration: none
            }

</style>
</head>
<body>
    <h1>
        Bookings for:
    </h1>
     <ul id="months-list"></ul>
    <div id='calendar'>
    </div>
    <div>
        Click on a start date to make a new booking
        </br>
        Click on a booking to edit or delete it.
    </div>
</body>
</html>
