<% provide(:title, 'Bookings') %>

<script type='text/javascript'>


    $(document).ready(function() {   

    
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'today',
                center: 'title',
                right: 'prevYear,prev next,nextYear'
            },
            selectable: true,
            selectHelper: true,
            dayClick: function(start, end, allDay) {
                var startAsString = getDayName(start)+" "+start.getDate()+" "+getMonthName(start)+" "+start.getFullYear()
                location.href = "<%=new_booking_path%>?start="+startAsString             
             },
            editable: true,
            disableDragging: false,
            events: [
                <% @bookings.each do |booking| %>
                    {
                    title: '<%= booking.name %>',
                    start: new Date('<%= booking.start %>'),
                    end:   new Date('<%= booking.end %>'),
                    url:   '<%= edit_or_delete_booking_path :id => booking.id%>' 
                    },
                <% end %>
            ],
         });    

        <% if (@booking != nil) %>
        $('#calendar').fullCalendar('gotoDate', <%=@booking.start.year%>, <%=@booking.start.month-1%>);
        <%end%>       
    });

    function getDayName(date){
        var day_names = new Array ( );
        day_names[day_names.length] = "Sunday";
        day_names[day_names.length] = "Monday";
        day_names[day_names.length] = "Tuesday";
        day_names[day_names.length] = "Wednesday";
        day_names[day_names.length] = "Thursday";
        day_names[day_names.length] = "Friday";
        day_names[day_names.length] = "Saturday";
        return day_names[date.getDay()]
    } 

    function getMonthName(date) {
        var month_names = new Array ( );
        month_names[month_names.length] = "January";
        month_names[month_names.length] = "February";
        month_names[month_names.length] = "March";
        month_names[month_names.length] = "April";
        month_names[month_names.length] = "May";
        month_names[month_names.length] = "June";
        month_names[month_names.length] = "July";
        month_names[month_names.length] = "August";
        month_names[month_names.length] = "September";
        month_names[month_names.length] = "October";
        month_names[month_names.length] = "November";
        month_names[month_names.length] = "December";
        return month_names[date.getMonth()]
    }
 
</script>
<style type='text/css'>

    body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

    #calendar {
        width: 600px;
        margin: 0 auto;
        }
</style>
</head>
<body>
    <h1>
        Bookings for:
    </h1>
    <div id='calendar'>
    </div>
    <div>
        Click on a start date to make a new booking
        </br>
        Click on a booking to edit or delete it.
    </div>
</body>
</html>
