<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Lacaze", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",           root_path %></li>
          <li><%= link_to "Directions",     directions_path %></li>
          <li><%= link_to "Instructions",   instructions_path %></li>
          <li><%= link_to "Things to do",   things_to_do_path %></li>
          <li><%= link_to "Pool", pool_path %></li>
          <li><%= link_to "Spring/Autumn",  spring_autumn_path %></li>
          <li><%= link_to "HELP",           help_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

