

<script>
  $(document).ready(function(){
    $("#booking_start").datepicker({  dateFormat: "DD d MM yy" });
    $("#booking_end").datepicker  ({  dateFormat: "DD d MM yy" });
  })
</script>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@booking) do |f| %>
      <% if @booking.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            The form contains <%= pluralize(@booking.errors.count, "error") %>.
          </div>
          <ul>
            <% @booking.errors.full_messages.each do |msg| %>
              <li>* <%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :start %>
      <input type="text"  id='booking_start' name="booking[start]" 
          value= "<%= !@booking.nil? && !@booking.start.nil? ? @booking.start.strftime('%A %-d %B %Y'):nil  %>" 
      /> 

      <%= f.label :end %>
      <input type="text"  id='booking_end' name="booking[end]" 
          value= "<%= !@booking.nil? ? 
                          !@booking.end.nil? ? @booking.end.strftime('%A %-d %B %Y') : 
                              !@booking.start.nil? ? @booking.start.strftime('%A %-d %B %Y') : nil
                          : nil 
                          %>" 
      />

      <p class="padding">Save the booking      
        <%= f.submit "Save", class: "btn btn-large btn-primary" %>
      </p>
    <% end %>
    <%= link_to "<button class = 'btn btn-large'>Cancel</button>".html_safe, bookings_path%>
  </div>
</div>